@{
    ViewBag.Title = "About Page";
}

<div class="row">
    <div class="col-lg-9 col-md-4">
        <h1>Welcome to the University System</h1>
        <p>This is a website that contains information about the imaginary University Of Life. The information consists of who our students, faculties, lectors and partners are!</p>
        <p>This is Jordan Kondakov's ASP.NET Project. It uses: </p>
            <ul>
                <li>HTML, CSS and BOOTSTRAP for the front-end</li>
                <li>ASP.NET for the backend</li>
                <li>SQL for it's database</li>
            </ul>  
        <p>All database tables work. There are more than 3 tables in the database. There are 2 types of relationships between the tables - 1 to many and many to many. The last one had been done with a helper table LectorsToPartners. Enjoy!</p>
        <h3>Use the navigation above to explore!</h3>
    </div>
</div>